/* Main Content Styles */
.main-content {
    display: static;
    justify-content: center;
    flex-direction: column; /* Stack div elements vertically */
    align-items: center; /* Center div elements horizontally */
}

.content-columns {
    display: static;
    max-width: 900px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.column {
    flex: 1;
    padding: 0px 10px; /* Added padding to center the columns */
    display: static;
    flex-direction: column;
    max-width: 100%;
    border: 5px;
    flex-basis: 100%; /* Each column takes up full width on smaller screens */
    text-align: center;
}

.column img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: auto;
}

.about-me-title {
    margin-top: 10px;
    margin-bottom: 10px;
}

.about-me {
    line-height: 25px;
    margin-bottom: 10px;
}
