/* Main Content Styles */
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-columns {
    display: flex;
    max-width: 900px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.column {
    flex: 1;
    padding: 0 10px; /* Added padding to center the columns */
    display: flex;
    flex-direction: column;
}

.column img {
    height: auto; /* Allows the image to maintain its aspect ratio */
    margin: 0 auto; /* Center the image horizontally */


}

.about-me {
    line-height: 25px;
    margin-bottom: 20px;
}