/* Main Content Styles */
.main-content {
    padding: 20px;
    display: static;
    justify-content: center; /* Center main content horizontally */
    flex-direction: column; /* Stack div elements vertically */
    align-items: center; /* Center div elements horizontally */
    margin-top: auto;
    margin-bottom: auto;
}

/* Blog Post Styles */
.blog-post {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px; /* Limit width of blog posts */

}

.blog-post h2 {
    color: #40798C;
}

.blog-post p {
    line-height: 1.5;
    margin-bottom: 10px;
}

.blog-post img {
    display: block;
    width: 100%;
    border-radius: 5px; /* Add rounded corners to image */
    margin-top: 10px; /* Add space between paragraph and image */
}

/* Link Styles */
.blog-post a:link {
    color: #70A9A1; /* Default link color */
    text-decoration: none;
    transition: color 0.3s; /* Smooth transition for color change */
}

.blog-post a:visited {
    color: #70A9A1; /* Color for visited links */
}

.blog-post a:hover {
    color: #40798C; /* Color when hovered over */
}

.blog-post a:active {
    color: #CFE0C3; /* Color when being clicked */
}