/* Main Content Styles */
.main-content {
    text-align: center;
}

.resume-section h3 {
    color: #40798C;
}

.resume-section ul {
    list-style-type: none;
    padding: 0;
}

.resume-section ul li {
    margin-bottom: 5px;
}

.resume-section ul li a {
    color: #70A9A1;
    text-decoration: none;
}
